/**
 * ------------------------------------------------------------------------------
 *	Settings styles
 * ------------------------------------------------------------------------------
 */
/* typography */
	

/* Colors */
	$dark-grey: #696863;
	$light-grey: #A4A19B;
	$red: #DC816E;
	$yellow: #F4CB4C;
	$green: #86C191;
	$blue: #89C3D9;
	$deep-blue:#29748E;
/* images */
	

/* Mesures */
	

/* Shadows */
	
