<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<base href="../../static/courses/">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mediaQueryStyles.css">
	<style>
	
	</style>
</head>
<body>
<!-- Navigation -->
	<nav>
		<div class="navbar navbar-default">
			<div class="container-fluid">
						<div class="navbar-header">
				          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				          </button>
					<img src="images/logo.png" alt="">
					<div class="nav-brand monaco">
						<span>student</span><span>.webcamp</span></div>
					    </div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="custom-nav"><a class="custom-active" href="">Home;</a></li>
							<li class="custom-nav"><a href="">About;</a></li>
							<li class="custom-nav"><a href="">Contacts;</a></li>
						</ul>
					</div>
			</div>
		</div>
	</nav>
<!-- Header -->
	<header>
		<div class="container">
		    <div class="row course-name">
		      <div class="col-xs-4 monaco"><a href="#">Java</a></div>
			  <div class="col-xs-4 col-xs-offset-4 monaco"><a href="#">PHP</a></div>
		    </div>
		    <div class="row course-name">
		      <div class="col-xs-4 monaco"><a href="#">HTML CSS</a></div>
			  <div class="col-xs-4 col-xs-offset-4 monaco"><a href="#">Javascript</a></div>
		    </div>
		</div>
	</header>
    <footer>
    	<div class="container">
    		<hr>
    	    <div class="pull-left">&copy; Webcamp 2014</div>
			<div class="pull-right">
				<a href="#">contacts;</a>
				<a href="#">facebook;</a>
				<a href="#">g+;</a>
			</div>
    	</div>
    </footer>

	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
</body>
</html>